__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
.DS_Store
.env

myenv/

*.egg-info/
.eggs/
build/
dist/
.cache/

.git/
.gitignore
.vscode/

results/
*.csv
out/
notebooks/

Dockerfile*
docker-compose*

monitor/
Measure_*/
measurement_containers/

bug.md
hist.txt
README.md
prometheus.yml
README_measure_flops.md
videos/*
Measure_plot_cpu_perf/*
Measure_Flops/*
recent-dash/*
