myenv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.log
.DS_Store
.env
Dockerfile*
results/
hist.txt
*.egg-info/
.eggs/
build/
dist/
.cache/
.git/
.gitignore
.vscode/
notebooks/
out/
iperf-test/
*.csv


