.vscode/
models/MoveNet
models/AlphaPose/pretrained_models/*
models/AlphaPose/detector/nms/build/*
models/AlphaPose/detector/yolo/data/yolov3-spp.weights    
out/
iperf-test/pcap/*
*.log
*.csv
*.bin

# Compiled Cython/C++ files
*.cpp
*.so
*.cu
*.c
*.o


# Python cache
__pycache__/
*.py[cod]

# Environment files
test-env/
/myenv/*
results/
timestamps.txt
recent-dash/results_dash_*
recent-dash/results
recent-dash/pids
recent-dash/dash_proxy_traffic_analysis_*
monitor/results_*
Measure_rx_tx_bftrace/results_*
/.DS_Store
segments/
captures/
results_dash_*/
videos/*
monitor_hpe/results_*/
ffmpeg_hpe/results_*
rtsp-ipcam/.DS_Store
.DS_Store
.aider*
