torch>=2.7.0
pyyaml>=6.0.2
matplotlib>=3.10.0
Pillow>=8.0.0
tqdm>=4.50.0
imageio>=2.9.0
pycocotools>=2.0.8
easydict>=1.13
yacs>=0.1.8
cython>=0.29.21
termcolor>=1.1.0
future>=1.0.0
requests>=2.32.3
motmetrics>=1.2.0
scikit-image>=0.25.2
scikit-learn>=1.6.1
filterpy>=1.4.5
addict>=2.4.0